<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="commhead" th:remove="tag">
 	<meta charset="utf-8"/>
 	<!-- csrf 安全头 -->
 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <title >视频策略管理系统</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{~/images/i/favicon.png}" />
    <link rel="apple-touch-icon-precomposed" th:href="@{~/images/i/app-icon72x72@2x.png}"/>
    <meta name="apple-mobile-web-app-title" content="video" />
   <!--  <script th:src="@{~/js/echarts.min.js}"></script> -->
    <link rel="stylesheet" th:href="@{~/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{~/css/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{~/css/app.css}"/>
  <!--   <link rel="stylesheet" th:href="@{~/css/bootstrap.css}"/> -->
  
  </head>

</html>
