<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<header class="am-topbar am-topbar-inverse admin-header">
	<div class="am-topbar-brand">
		<a href="javascript:;" class="tpl-logo"> <img th:src="@{~/assets/img/logo.png}" alt="" />
		</a>
	</div>
	<div
		class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

	</div>

	<button
		class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
		data-am-collapse="{target: '#topbar-collapse'}">
		<span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
	</button>

	<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

		<ul
			class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
			<li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
				<a class="am-dropdown-toggle tpl-header-list-link"
				href="javascript:;"> <span class="am-icon-bell-o"></span> 提醒 <span
					class="am-badge tpl-badge-success am-round">5</span>
			</a>
				<ul class="am-dropdown-content tpl-dropdown-content">
					<li class="tpl-dropdown-content-external">
						<h3>
							你有 <span class="tpl-color-success">5</span> 条提醒
						</h3>
						<a href="###">全部</a>
					</li>
					<li class="tpl-dropdown-list-bdbc"><a href="#"
						class="tpl-dropdown-list-fl"><span
							class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span>
							【预览模块】移动端 查看时 手机、电脑框隐藏。</a> <span class="tpl-dropdown-list-fr">3小时前</span>
					</li>
					<li class="tpl-dropdown-list-bdbc"><a href="#"
						class="tpl-dropdown-list-fl"><span
							class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-danger"></span>
							移动端，导航条下边距处理</a> <span class="tpl-dropdown-list-fr">15分钟前</span></li>
					<li class="tpl-dropdown-list-bdbc"><a href="#"
						class="tpl-dropdown-list-fl"><span
							class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning"></span>
							追加统计代码</a> <span class="tpl-dropdown-list-fr">2天前</span></li>
				</ul>
			</li>
			<li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
				<a class="am-dropdown-toggle tpl-header-list-link"
				href="javascript:;"> <span class="am-icon-comment-o"></span> 消息
					<span class="am-badge tpl-badge-danger am-round">9</span>
			</a>
				<ul class="am-dropdown-content tpl-dropdown-content">
					<li class="tpl-dropdown-content-external">
						<h3>
							你有 <span class="tpl-color-danger">9</span> 条新消息
						</h3>
						<a href="###">全部</a>
					</li>
					<li><a href="#" class="tpl-dropdown-content-message"> <span
							class="tpl-dropdown-content-photo"> <img
								th:src="@{~/assets/img/user02.png}" alt="" />
						</span> <span class="tpl-dropdown-content-subject"> <span
								class="tpl-dropdown-content-from"> 禁言小张 </span> <span
								class="tpl-dropdown-content-time">10分钟前 </span>
						</span> <span class="tpl-dropdown-content-font"> Amaze UI 的诞生，依托于
								GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </span>
					</a> <a href="#" class="tpl-dropdown-content-message"> <span
							class="tpl-dropdown-content-photo"> <img
								th:src="@{~/assets/img/user03.png}" alt="" />
						</span> <span class="tpl-dropdown-content-subject"> <span
								class="tpl-dropdown-content-from"> Steam </span> <span
								class="tpl-dropdown-content-time">18分钟前</span>
						</span> <span class="tpl-dropdown-content-font"> 为了能最准确的传达所描述的问题，
								建议你在反馈时附上演示，方便我们理解。 </span>
					</a></li>

				</ul>
			</li>
			<li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="" >
				<a class="am-dropdown-toggle tpl-header-list-link"
				href="javascript:;"> <span class="am-icon-calendar"></span> 进度 <span
					class="am-badge tpl-badge-primary am-round">4</span>
			</a>
				<ul class="am-dropdown-content tpl-dropdown-content">
					<li class="tpl-dropdown-content-external">
						<h3>
							你有 <span class="tpl-color-primary">4</span> 个任务进度
						</h3>
						<a href="###">全部</a>
					</li>
					<li><a href="javascript:;"
						class="tpl-dropdown-content-progress"> <span class="task">
								<span class="desc">Amaze UI 用户中心 v1.2 </span> <span
								class="percent">45%</span>
						</span> <span class="progress">
								<div class="am-progress tpl-progress am-progress-striped">
									<div class="am-progress-bar am-progress-bar-success"
										style="width:45%"></div>
								</div>
						</span>
					</a></li>
					<li><a href="javascript:;"
						class="tpl-dropdown-content-progress"> <span class="task">
								<span class="desc">新闻内容页 </span> <span class="percent">30%</span>
						</span> <span class="progress">
								<div class="am-progress tpl-progress am-progress-striped">
									<div class="am-progress-bar am-progress-bar-secondary"
										style="width:30%"></div>
								</div>
						</span>
					</a></li>
					<li><a href="javascript:;"
						class="tpl-dropdown-content-progress"> <span class="task">
								<span class="desc">管理中心 </span> <span class="percent">60%</span>
						</span> <span class="progress">
								<div class="am-progress tpl-progress am-progress-striped">
									<div class="am-progress-bar am-progress-bar-warning"
										style="width:60%"></div>
								</div>
						</span>
					</a></li>

				</ul>
			</li>
			<li class="am-hide-sm-only"><a href="javascript:;"
				id="admin-fullscreen" class="tpl-header-list-link"><span
					class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

			<li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
				<a class="am-dropdown-toggle tpl-header-list-link"
				href="javascript:;"> <span class="tpl-header-list-user-nick">禁言小张</span><span
					class="tpl-header-list-user-ico"> <img
						th:src="@{~/assets/img/user01.png}" /></span>
			</a>
				<ul class="am-dropdown-content">
					<li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
					<li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
					<li id="logout1"><a th:href="@{~/logout}"><span class="am-icon-power-off"></span> 退出</a></li>
				</ul>
			</li>
			<li id="logout2"><a th:href="@{~/logout}" class="tpl-header-list-link"><span
					class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
		</ul>
	</div>
</header>
<script type="text/javascript">
	$(function() {
		$("#logout1").on("click", function(e){
			var url=$("#logout1 a").attr("href");
			$.post(url);

		});
		$("#logout2").on("click", function(e){
			var url=$("#logout2 a").attr("href");
			$.post(url);

		});
	});
</script>
<!-- <header>
	logo
	<div class="am-fl tpl-header-logo">
		<a href="javascript:;"><img th:src="@{~/images/img/logo.png}"
			alt="" /></a>
	</div>
	右侧内容
	<div class="tpl-header-fluid">
		侧边切换
		<div class="am-fl tpl-header-switch-button am-icon-list">
			<span> </span>
		</div>
		搜索
		<div class="am-fl tpl-header-search">
			<form class="tpl-header-search-form" action="javascript:;">
				<button class="tpl-header-search-btn am-icon-search"></button>
				<input class="tpl-header-search-box" type="text"
					placeholder="搜索内容..." />
			</form>
		</div>
		其它功能
		<div class="am-fr tpl-header-navbar">
			<ul>
				欢迎语
				<li class="am-text-sm tpl-header-navbar-welcome"><a
					href="javascript:;">欢迎你, <span>Amaze UI</span>
				</a></li>

				新邮件
				<li class="am-dropdown tpl-dropdown" data-am-dropdown=""><a
					href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle"
					data-am-dropdown-toggle=""> <i class="am-icon-envelope"></i> <span
						class="am-badge am-badge-success am-round item-feed-badge">4</span>
				</a> 弹出列表
					<ul class="am-dropdown-content tpl-dropdown-content">
						<li class="tpl-dropdown-menu-messages"><a href="javascript:;"
							class="tpl-dropdown-menu-messages-item am-cf">
								<div class="menu-messages-ico">
									<img th:src="@{images/img/user04.png}" alt="" />
								</div>
								<div class="menu-messages-time">3小时前</div>
								<div class="menu-messages-content">
									<div class="menu-messages-content-title">
										<i class="am-icon-circle-o am-text-success"></i> <span>夕风色</span>
									</div>
									<div class="am-text-truncate">Amaze UI 的诞生，依托于 GitHub
										及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。</div>
									<div class="menu-messages-content-time">2016-09-21 下午
										16:40</div>
								</div>
						</a></li>

						<li class="tpl-dropdown-menu-messages"><a href="javascript:;"
							class="tpl-dropdown-menu-messages-item am-cf">
								<div class="menu-messages-ico">
									<img th:src="@{~/images/img/user02.png}" alt="" />
								</div>
								<div class="menu-messages-time">5天前</div>
								<div class="menu-messages-content">
									<div class="menu-messages-content-title">
										<i class="am-icon-circle-o am-text-warning"></i> <span>禁言小张</span>
									</div>
									<div class="am-text-truncate">为了能最准确的传达所描述的问题，
										建议你在反馈时附上演示，方便我们理解。</div>
									<div class="menu-messages-content-time">2016-09-16 上午
										09:23</div>
								</div>
						</a></li>
						<li class="tpl-dropdown-menu-messages"><a href="javascript:;"
							class="tpl-dropdown-menu-messages-item am-cf"> <i
								class="am-icon-circle-o"></i> 进入列表…
						</a></li>
					</ul></li>

				新提示
				<li class="am-dropdown" data-am-dropdown=""><a
					href="javascript:;" class="am-dropdown-toggle"
					data-am-dropdown-toggle=""> <i class="am-icon-bell"></i> <span
						class="am-badge am-badge-warning am-round item-feed-badge">5</span>
				</a> 弹出列表
					<ul class="am-dropdown-content tpl-dropdown-content">
						<li class="tpl-dropdown-menu-notifications"><a
							href="javascript:;"
							class="tpl-dropdown-menu-notifications-item am-cf">
								<div class="tpl-dropdown-menu-notifications-title">
									<i class="am-icon-line-chart"></i> <span> 有6笔新的销售订单</span>
								</div>
								<div class="tpl-dropdown-menu-notifications-time">12分钟前</div>
						</a></li>
						<li class="tpl-dropdown-menu-notifications"><a
							href="javascript:;"
							class="tpl-dropdown-menu-notifications-item am-cf">
								<div class="tpl-dropdown-menu-notifications-title">
									<i class="am-icon-star"></i> <span> 有3个来自人事部的消息</span>
								</div>
								<div class="tpl-dropdown-menu-notifications-time">30分钟前</div>
						</a></li>
						<li class="tpl-dropdown-menu-notifications"><a
							href="javascript:;"
							class="tpl-dropdown-menu-notifications-item am-cf">
								<div class="tpl-dropdown-menu-notifications-title">
									<i class="am-icon-folder-o"></i> <span> 上午开会记录存档</span>
								</div>
								<div class="tpl-dropdown-menu-notifications-time">1天前</div>
						</a></li>


						<li class="tpl-dropdown-menu-notifications"><a
							href="javascript:;"
							class="tpl-dropdown-menu-notifications-item am-cf"> <i
								class="am-icon-bell"></i> 进入列表…
						</a></li>
					</ul></li>

				退出
				<li class="am-text-sm" id="logout">
				<form th:action="@{/logout}" method="post">
				
				<input type="submit" value="登录"/>
				</form>
				
				<a th:href="@{~/logout}"> <span	class="am-icon-sign-out"></span> 退出
				</a>
				</li>
			</ul>
		</div>
	</div>
<script type="text/javascript">

$(function(){
	$("#logout").on("click",function(e){
		$("#logout a").attr("")
		$.post("");
		
	});
})
</script>
</header> -->
</html>